{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ArtistIdTable{% endblock %}

{% block content %}

<h1>Music artist {{ band|upper }} table:</h1>


{{ wtf.quick_form(nameform) }}

{{ wtf.quick_form(dbform) }}

<table class="table table-bordered">
  <thead>
<!--     
    <tr> 
        <th> kind </th>
        <th> collectionName </th>
        <th> trackName </th>
        <th> collectionPrice </th>
        <th> trackPrice </th>
        <th> primaryGenreName </th>
        <th> trackCount </th>
        <th> trackNumber </th>
        <th> releaseDate </th>        
    </tr>
--> 
<!--   Table head </td> --> 
    {% for dict_item in songs[:1] %}
        <tr>
            {% for key in dict_item.keys() %}
        
        <th> {{ key }} </th>
                
            {% endfor%}
        </tr>
    {% endfor %}

<!--   Table data </td> --> 
    {% for dict_item in songs %}
        <tr>
        {% for value in dict_item.values() %}
                    
        <td> {{ value }} </td>
                            
        {% endfor%}
                </tr>
    {% endfor %}
  </thead>
</table>
{% endblock %}
